@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .category-page__aside .profile-user {
        padding-top: 20px;
    }

    .category-page .swiper.vertical-swiper {
        max-width: 100%;
        flex: 1;
        margin-left: 8px;
    }
    .category-page .swiper-pagination-images .swiper-pagination-bullet {
        width: 80px;
        height: 80px;
    }
    .category-page .swiper-pagination-images {
        width: 80px;
    }
    .category-page .swiper.vertical-swiper .swiper-slide {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
    .category-page .swiper.vertical-swiper {
        max-height: 300px;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
